BTrees>=4.1.4
argparse>=1.2.1
numpy==1.6.1; python_version == '2.6'
astropy==1.1.2; python_version == '2.6'
persistent==4.1.1; python_version == '2.6'
numpy>=1.6.1; python_version > '2.6'
astropy>=1.1.2; python_version > '2.6'
persistent>=4.1.1; python_version > '2.6'
pickleshare>=0.5
transaction>=1.4.4
zc.lockfile>=1.1.0
zdaemon>=4.1.0
ZConfig>=3.0.4
ZODB>=4.2.0
zodbpickle>=0.6.0
zope.interface>=4.1.2
future; python_version <= '2.7'